<%- include ./partials/boilerplate.ejs %>

  <h3>WELCOME TO MY SKY TO DO APP</h3>
  <p>Sky Notes app helps you schedule your busy life everyday! How cool, right! try it!</p>
  <a href = '/todo' class = 'go-todo'>CLICK ME TO ENTER</a>
 
 
<% include ./partials/end %>