<% include ../partials/boilerplate %>

<div class = 'todolist'>
  <form method = 'POST' action = '/todo'>
  <input name = 'title' type = 'text' placeholder = 'Enter Your Category Here' />
  <input name = 'todo_description' type = 'text' placeholder = 'Enter Your Description' />
  <input type = 'submit' value = 'Add it!' />
  </form>
</div>

 
<% include ../partials/end %>