<%- include ../partials/boilerplate %>

<div class = 'single-todo'>
  <h3> <%= todo.title %></h3>
  <p><%= todo.todo_description %></p>
</div>

<a href = '/todo'>Back to List</a>

 
<% include ../partials/end %>